<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/util
     http://www.springframework.org/schema/util/spring-util.xsd">

<!--    // using property injection-->
<!--    <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource"-->
<!--          p:driverClassName="com.mysql.cj.jdbc.Driver" p:url="jdbc:mysql://localhost:3306/springjdbc"-->
<!--          p:username="root" p:password="Rohit@8433" />-->

<!--    <bean id="jdbcTemp" class="org.springframework.jdbc.core.JdbcTemplate" p:dataSource-ref="ds" />-->

<!--    Here ds => data source     -->

<!--    // using constructor injection-->
    <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="com.mysql.cj.jdbc.Driver" c:url="jdbc:mysql://localhost:3306/springjdbc"
          c:username="root" c:password="Rohit@8433" />

    <bean id="jdbcTemp" class="org.springframework.jdbc.core.JdbcTemplate" c:dataSource-ref="ds" />

</beans>